openapi: 3.1.0
x-stoplight:
  id: gcl6cvkh1x5nk
info:
  title: Page API
  version: '1.0'
  description: |-
    ### The page object

    The page object is a screen where you can view a “collection” of data, which is typically displayed in cards. You use a page to organize, manage, and share content to other users in Domo. Pages allow you to send external reports, create holistic filters across all metrics within the page, or have conversations in Domo’s Buzz tool about the data associated to the entire page.  The Page API allows you to create, delete,  retrieve a page or a list of pages, and update page information and content within a page.

    #### Attributes

    Property Name | Type | Description
    ------- | ------- | -------
    name | string | The name of the page
    id | string | The ID of the page
    parentId | integer | The ID of the page that is higher in organizational hierarchy 
    owners | array | List of IDs of page owners
    locked | boolean | Determines whether users (besides the page owner) can make updates to page or its content - the default value is false
    collectionIds | array | The IDs of collections within a page
    cardIds | array | The ID of all cards contained within the page
    children | object | All pages that are considered "sub pages" in organizational hierarchy
    visibility | object | Determines the access given to both individual users or groups within Domo
    userIds | array | The IDs of users with access to the page
    groupIds | array | The IDs of groups with access to the page
servers:
  - url: 'https://api.domo.com'
    description: Domo API
paths:
  '/v1/pages/{page_id}':
    parameters:
      - schema:
          type: string
          example: '876655018'
        name: page_id
        in: path
        required: true
        description: The ID of the page
    get:
      summary: Retrieve a page
      tags: []
      operationId: get-v1-pages-page_id
      description: Retrieves the details of an existing page.
      responses:
        '200':
          description: Returns a page object if valid page ID was provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The ID of the page
                  parentId:
                    type: integer
                    description: The ID of the page that is higher in organizational hierarchy
                  name:
                    type: string
                    description: The name of the page
                  locked:
                    type: boolean
                    description: Determines whether users (besides the page owner) can make updates to page or its content - the default value is false
                  collectionIds:
                    type: array
                    description: The IDs of collections within a page
                    items:
                      type: integer
                  cardIds:
                    type: array
                    description: The ID of all cards contained within the page
                    items:
                      type: integer
                  visibility:
                    type: object
                    description: Determines the access given to both individual users or groups within Domo
                    properties:
                      userIds:
                        type: array
                        items:
                          type: integer
                      groupIds:
                        type: array
                        items:
                          type: integer
                  owners:
                    type: array
                    description: List of IDs of page owners
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        displayName:
                          type: string
              examples:
                Example 1:
                  value:
                    id: 421696155
                    parentId: 1507324998
                    owners:
                      [
                        {
                          'id': 8811501,
                          'type': 'USER',
                          'displayName': 'John Smith',
                        },
                      ]
                    name: Custom Maps
                    locked: false
                    collectionIds: []
                    cardIds:
                      - 606665948
                      - 917562931
                      - 1240307199
                      - 911423588
                    visibility:
                      userIds:
                        - 8811501
                      groupIds: []
    put:
      summary: Update a page
      operationId: put-v1-pages-page_id
      responses:
        '200':
          description: Returns the parameter of success or error based on the page ID being valid.
      description: |-
        Updates the specified page by providing values to parameters passed. Any parameter left out of the request will cause the specific page’s attribute to remain unchanged.

        > Also, collections cannot be added or removed via this endpoint, only reordered. Giving access to a user or group will also cause that user or group to have access to the parent page (if the page is a subpage). Moving a page by updating the parentId will also cause everyone with access to the page to have access to the new parent page.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Will update the name of the page
                owners:
                  type: array
                  description: Will update the owners of the page
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      type:
                        type: string
                      displayName:
                        type: string
                parentId:
                  type: integer
                  description: 'If provided, will either make the page a subpage or simply move the subpage to become a child of a different parent page'
                locked:
                  type: boolean
                  description: Will restrict access to edit page
                collectionIds:
                  type: array
                  description: Collections cannot be added or removed but the order can be updated based on the order of IDs provided in the argument
                  items:
                    type: integer
                cardIds:
                  type: array
                  description: IDs provided will add or remove cards that are not a part of a page collection
                  items:
                    type: integer
                visibility:
                  type: object
                  description: Shares pages with users or groups
                  properties:
                    userIds:
                      type: array
                      description: IDs provided will share page with associated users
                      items:
                        type: integer
                    groupIds:
                      type: array
                      description: IDs provided will share page with associated groups
                      items:
                        type: integer
    delete:
      summary: Delete a page
      operationId: delete-v1-pages-page_id
      responses:
        '204':
          description: Returns the parameter of success or error based on the page ID being valid.
      description: |-
        Permanently deletes a page from your Domo instance.

        <!-- theme: warning -->
        > #### Warning
        >
        > This is destructive and cannot be reversed.
  /v1/pages:
    get:
      summary: List pages
      tags: []
      responses:
        '200':
          description: Returns all page objects that meet argument criteria from original request.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    children:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          children:
                            type: array
                            items:
                              type: object
      operationId: get-v1-pages
      description: Get a list of all pages in your Domo instance.
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
          description: The amount of pages to return in the list. The default is 50 and the maximum is 500.
        - schema:
            type: integer
          in: query
          name: offset
          description: The offset of the page ID to begin list of pages within the response.
    post:
      summary: Create a page
      operationId: post-v1-pages
      responses:
        '200':
          description: Returns a page object when successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  parentId:
                    type: integer
                  owners:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        displayName:
                          type: string
                  name:
                    type: string
                  locked:
                    type: boolean
                  cardIds:
                    type: array
                    items:
                      type: integer
                  visibility:
                    type: object
                    properties:
                      userIds:
                        type: array
                        items:
                          type: integer
                      groupIds:
                        type: array
                        items:
                          type: integer
      description: Creates a new page in your Domo instance.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the page
                parentId:
                  type: integer
                  description: 'If provided, the page will be created as a subpage to the page provided'
                locked:
                  type: boolean
                  description: will restrict other users the ability to make edits to page or its content - the default value is false
                cardIds:
                  type: array
                  description: The IDs of all cards to be added to the page
                  items:
                    type: integer
                visibility:
                  type: object
                  description: Determines the access given to both individual users or groups within Domo
                  properties:
                    userIds:
                      type: array
                      description: The IDs of users that will be given access to view the page
                      items:
                        type: integer
                    groupIds:
                      type: array
                      description: The IDs of groups that will be given access to view the page
                      items:
                        type: integer
  '/v1/pages/{page_id}/collections':
    parameters:
      - schema:
          type: integer
        name: page_id
        in: path
        required: true
        description: ID of page that contains the page collection
    get:
      summary: Retrieve a page collection
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    description:
                      type: string
                    cardIds:
                      type: array
                      items:
                        type: integer
    post:
      summary: Create a page collection
      operationId: post-v1-pages-page_id-collections
      responses:
        '200':
          description: Returns the parameter of success or error based on the page ID being valid.
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                cardIds:
                  type: array
                  items:
                    type: integer
  '/v1/pages/{page_id}/collections/{page_collection_id}':
    parameters:
      - schema:
          type: integer
        name: page_id
        in: path
        required: true
      - schema:
          type: integer
        name: page_collection_id
        in: path
        required: true
    put:
      summary: Update a page collection
      operationId: put-v1-pages-page_id-collections
      responses:
        '200':
          description: Returns the parameter of success or error based on the page collection ID being valid.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Page collection's name displayed above the set of cards
                description:
                  type: string
                  description: Additional text within the page collection
                cardIds:
                  type: array
                  description: IDs provided will add or remove cards that are not a part of a page collection
                  items:
                    type: integer
    delete:
      summary: Delete a page collection
      operationId: delete-v1-pages-page_id-collections
      responses:
        '204':
          description: |
            Returns the parameter of success or error based on the page collection ID being valid.
      description: |
        Permanently deletes a page collection from your Domo instance.

        <!-- theme: warning -->
        > #### Warning
        >
        > This is destructive and cannot be reversed.
components:
  schemas: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
